:root {
  --primary-color: #022859;
  --secondary-color: #0c6094;
  --box-color: #6289bb;
  --light-color: #ACCAF2;
  --white: #fff7f7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

li {
  display: block;
}
