:root {
  --primary-color: #022859;
  --secondary-color: #023859;
  --light-color: #ACCAF2;
  --text-color: #759CBF;
  --text-black: #0B1C26;
  --white: #fff7f7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

li {
  display: block;
}
